.domain-grid {
  display: grid;
  gap: 1rem;
}

@media (min-width: 960px) {
  .domain-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .domain-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .domain-grid {
    grid-template-columns: 1fr;
  }
}
